importClassesFrom(methods,
                  list)

importMethodsFrom(DBI,
                  dbReadTable)

importFrom(methods,
           new)

importFrom(stats,
           cor,
           median,
           na.exclude,
           sd)

exportPattern("^[^\\.]")
exportClasses("miRtcList")
